:root {
    --main-bg-color: #111D4A;
    --main-fg-color: #ACB4D2;

    --divider-width: 0.075rem;
    --divider-style: solid;
    --divider-color: #303E6D;
    --divider: var(--divider-width) var(--divider-style) var(--divider-color);
}

a {
    color: inherit;
    text-decoration: none;
}

html {
    height: 100%;
    font-family: Helvetica, sans-serif;
    color: var(--main-fg-color);
}

body {
    margin: 0px;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    background-color: #0e183d;
}

header {
    background-color: var(--main-bg-color);
    padding-left: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-bottom: var(--divider);
    box-shadow:  0rem 0rem 1.25rem black;
    text-shadow: 0rem 0rem 1rem black;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

main {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

footer {
    background-color: var(--main-bg-color);
    padding-left: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-top: var(--divider);
}

article {
    border-left:  var(--divider);
    border-right: var(--divider);
    padding-left:  2rem;
    padding-right: 2rem;
    flex-basis: 35rem;;
    background-color: var(--main-bg-color);
    box-shadow: 0rem 1rem 1rem  black;
}

nav a {
    padding-left: 1rem;
    padding-right: 1rem;
    border-right: var(--divider);
    text-decoration: none;
}

header a:hover {
    text-decoration: none;
    color: #7c84a3;
}




